{% extends "layout.html" %} {% block content %}

<div class="page-header">
  <h1>Welcome to Twitter.js!</h1>
</div>
<div class="row">
  <div class="col-md-3">

    <img src="https://s-media-cache-ak0.pinimg.com/736x/c6/4c/e0/c64ce05bf01ccb3ea8af44de5980cbe4.jpg" height="100" width="100"><br>
    <a href="/users/brian%20bohme">Brian Bohme</a><br> 100 followers
  </div>
  <div class="col-md-9">

    <form action="/tweets" method="POST">
      <label for="name_field">Name:</label> {% if userNamed %}
      <input name="name" value="default" type="text" id="name_field" /> {% else %}
      <input name="name" type="text" id="name_field" /> {% endif %}

      <label for="text_field">Text:</label>
      <input name="text" type="text" id="text_field" style="width: 350px;" />

      <input type="submit" value="Tweet" />
    </form>


    <ul class="timeline">
      {% for tweet in tweets %}
      <li>
        <div class="avatar">
          <script type="text/javascript">
            function randomImage() {
              var randomNumberBetween0and19 = Math.floor(Math.random() * 150) + 200;
              return "http://placekitten.com/" + randomNumberBetween0and19 + "/" + randomNumberBetween0and19;
            };
          </script>
          <img src="http://cdn2-www.dogtime.com/assets/uploads/gallery/30-impossibly-cute-puppies/impossibly-cute-puppy-8.jpg" id="image"
          />
          <script type="text/javascript">
            document.getElementById('image').src = randomImage();
          </script>
          <div class="hover">
            <div class="icon-twitter"></div>
          </div>
        </div>
        <div class="bubble-container">
          <div class="bubble">
            <a href="/users/{{tweet.name}}">@{{ tweet.name }}</a><br /> {{ tweet.content }}
          </div>
          <div class="arrow"></div>
        </div>
      </li>
      {% endfor %}
    </ul>

  </div>
</div>

{% endblock %}
